*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
body{
	background-color: #eff1f2;
}
header{
	background: rgba(0,0,0,1);
	margin-bottom: 2%;
}
.subhead{
	color: white;
	display: grid;
	grid-template-columns: 2fr 1fr;
	width: 90%;
	margin: auto;
}
.tab{
	padding-top: 2%;
}
tr th, tr td{
	text-align: center;
}
.nave{
	display: flex;
	justify-content: space-evenly;
	align-self: center;
	text-decoration: none;
	color: white;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: none;
	color: #04A5A0;
	font-weight: 900;
}
#nuevoact{
	color: white;
}
#nuevoact:hover{
	color: #fff;
}
.izq{
	display: flex;
	justify-content: flex-end;
	margin-bottom: .5%;
}
.link{
	color: black;
}
.neg{
	font-weight: 900;
}
.sep{
	margin-left: .5%;
}

/*bootstrapoverride*/
.btn-secondary {
    color: #fff;
	background-color:#000;
	border-color:#000;
	padding-bottom: 0;
	padding-top: 0;
}
.btn-secondary:hover {
    color: #04A5A0;
	background-color:#000;
	border-color:#000;
	font-weight: 900;
}
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
	background-color:#000;
	border-color:#000;
}
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0,0,0,.5);
}
.dropdown-menu{
	background-color: #000;
	text-align: center;
}
.logform{
	display: flex;
	flex-direction: column;
	width: 30vw;
	min-width: 200px;
	margin: auto;
	padding-top: 7% !important;
}
.box{
	border-radius: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	background-color: #fff;
	width: 50%;
	margin: auto;
}

/* clases simples */
.pad3{
	padding: 3%;
}

/*Trabajo con texto*/
.tcen{
	text-align: center;
}
.cnegro{
	color: #000;
}
.icono{
	font-size: 1.5rem;
}
.crojo{
	color: #F00;
}
.camarillo{
	color: #BF9500;
}

/*
Colores para SGR
Grave #F8696B
Medio #E9E583
Leve #63BE7B
*/