*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
html{
	height: 100%;
}
body{
	background-color: #eff1f2;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
header{
	background: rgba(0,0,0,1);
	margin-bottom: 2%;
}
.subhead{
	color: white;
	display: grid;
	grid-template-columns: 2fr 1fr;
	width: 90%;
	margin: auto;
}
.tab{
	padding-top: 2%;
}
tr th, tr td{
	text-align: center;
}
.nave{
	display: flex;
	justify-content: space-evenly;
	align-self: center;
	text-decoration: none;
	color: white;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: none;
	color: #04A5A0;
	font-weight: 900;
}
#nuevoact{
	color: white;
	}
#nuevoact:hover{
	color: #fff;
}
.izq{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 2%;
}
.link{
	color: black;
}
.neg{
	font-weight: 900;
}
.sep{
	margin-left: .5%;
}
.cardsep{
	margin-left: 5%;
	margin-top: 5%;
}
.btnp:hover{
	color:#04A5A0;
}
.errorcloudsi{
	width: 28% !important;
	margin: auto;
	margin-top: -8%;
}
.categorias{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.filtro{
	display: flex;
	justify-content: flex-start;
}
	.btn-search{
		height: calc(1.5em + .75rem + 2px);
	}
	.form-group {
    margin-bottom: 1rem;
    display: flex;
    margin-right: 1%;
    align-items: center;
	}
	label {
    display: inline-block;
    margin-bottom: .5rem;
    margin-right: 2%;
	}
.footg{
	background-color: black;
	margin: auto;
	margin-bottom: 0;
	width: 100%;
}
.foot{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
	padding-top: 2%;
    padding-bottom: 2%;
}

.inn_foot{
	width: 20%;
	height: auto;
	display: flex;
	justify-content: center;
	padding-right: 1%;
}
.rsp{
	display: none;
}
.of{
	overflow: auto;
}
.efect{
	transition: 1200ms ease-in-out;
}
@media screen and (max-width: 800px) {
  .foot {
    flex-direction: column;
  }
  .inn_foot{
  	width: 40%;
  	padding-top: 2%;
  	padding-bottom: 2%;
  }
  .rsp{
  	display: flex;
  	justify-content: flex-end;
  }
  .nave{
  	display: none;
  }

/*override boots*/
  .dropdown-menu.show {
    display: flex;
    flex-direction: column;
	background-color:#111;
}

}

/*bootstrapoverride*/
.btn-secondary {
    color: #fff;
	background-color:#000;
	border-color:#000;
	padding-bottom: 0;
	padding-top: 0;
}
.btn-secondary:hover {
    color: #04A5A0;
	background-color:#000;
	border-color:#000;
	font-weight: 900;
}
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
	background-color:#000;
	border-color:#000;
}
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0,0,0,.5);
}
.dropdown-menu{
	background-color: #000;
	text-align: center;
}
.logform{
	display: flex;
	flex-direction: column;
	width: 30vw;
	min-width: 200px;
	margin: auto;
	padding-top: 7% !important;
}
.box{
	border-radius: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	background-color: #fff;
	width: 50%;
	margin: auto;
}
.error {
  margin: 0 auto;
  text-align: center;
}
.error-code {
  bottom: 60%;
  color: #2d353c;
  font-size: 96px;
  line-height: 100px;
}
.error-desc {
  font-size: 12px;
  color: #647788;
}

.m-b-10 {
  margin-bottom: 10px!important;
}

.m-b-20 {
  margin-bottom: 20px!important;
}

.m-t-20 {
  margin-top: 20px!important;
}

/* clases simples */
.pad3{
	padding: 3%;
}
.mg_3{
	margin-left: -1%;
}

/*Trabajo con texto*/
.tcen{
	text-align: center;
}
.cnegro{
	color: #000;
}
.icono{
	font-size: 1.5rem;
}
.crojo{
	color: #F00;
}
.camarillo{
	color: #BF9500;
}
.cblanco{
	color: #fff;
}

/*
Colores
Naranja #EC912D
Colores para SGR
Grave #F8696B
Medio #E9E583
Leve #63BE7B
*/