{% extends 'base.html' %}

{%block content%}
	<h2>#{{activo.TAid}} {{activo.nombre}}</h2>
	
	<div>
		<p>Responsable de Seguridad: {{activo.rs}}<p>
		<p>Tipo de Activo: {{activo.tipoactivo}}</p>
		<p>Nombre Activo: {{activo.nombre}}</p>
		<p>Descripción del activo: {{activo.descripcion}}</p>
		<p>Propietario del Activo: {{activo.propietario}}</p>
		<p>Ubicación del Activo: {{activo.ubicacion}}</p>
		<p>Valor de Riesgo del activo: {{activo.valor}}</p>	
		<p>{{activo.date}}</p>
	</div>
	
	<p><a href="{% url 'editar_activo' activo.TAid %}">Editar</a> |
	<a href="{% url 'eliminar_activo' activo.TAid %}">Eliminar</a></p>
	<p>Volver a <a href="{% url 'lista_activos' %}">Lista de Activos</a>.</p>
		
{%endblock content%}