{% extends 'base.html' %}

{%block content%}
	<h2>#{{activo.TAid}} {{activo.nombre}}</h2>
	<div class="izq">
		<a href="{% url 'editaract' activo.TAid %}" id="nuevoact" class="btn btn-success sep font-weight-bold"><i class="far fa-edit"></i> Editar Activo</a>
		<a href="{% url 'eliminaract' activo.TAid %}" id="nuevoact" class="btn btn-danger sep font-weight-bold"><i class="fas fa-minus-circle"></i> Eliminar Activo</a>
		<a href="{% url 'tipoact' %}" id="nuevoact" class="btn btn-secondary sep font-weight-bold">Cancelar</a>
	</div>
	<div>
		<p>Responsable de Seguridad: {{activo.rs}}<p>
		<p>Tipo de Activo: {{activo.tipoactivo}}</p>
		<p>Nombre Activo: {{activo.nombre}}</p>
		<p>Descripción del activo: {{activo.descripcion}}</p>
		<p>Propietario del Activo: {{activo.propietario}}</p>
		<p>Ubicación del Activo: {{activo.ubicacion}}</p>
		<p>Valor de Riesgo del activo: {{activo.valor}}</p>	
	</div>
	

	
{%endblock content%}