{% extends 'base.html' %}

{%block content%}
	<div class="izq">
		<a href="{% url 'editar_activo' activo.TAid %}" class="btn btn-warning sep font-weight-bold"><i class="far fa-edit"></i> Editar</a>
		<a href="{% url 'eliminar_activo' activo.TAid %}" class="btn btn-danger sep font-weight-bold"><i class="fas fa-minus-circle"></i> Eliminar</a>
		<a href="{% url 'lista_activos' %}" class="btn btn-dark sep font-weight-bold"><i class="fas fa-arrow-circle-left"></i> Volver a Lista de Activos</a>
	</div>
	<h2>#{{activo.TAid}} {{activo.nombre}}</h2>
	
	<div>
		<p>Responsable de Seguridad: {{activo.rs}}<p>
		<p>Tipo de Activo: {{activo.tipoactivo}}</p>
		<p>Nombre Activo: {{activo.nombre}}</p>
		<p>Descripción del activo: {{activo.descripcion}}</p>
		<p>Propietario del Activo: {{activo.propietario}}</p>
		<p>Ubicación del Activo: {{activo.ubicacion}}</p>
		<p>Valor de Riesgo del activo: {{activo.valor}}</p>	
		<p>{{activo.date}}</p>
	</div>
	
	
		
{%endblock content%}