{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>SGR</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/7156f13c41.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon-01.png' %}"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
	<header>
		<div class="subhead">
			<h1><a href="{% url 'home' %}">SGR</a></h1>
			<div class="nave">
				<a href="{% url 'home' %}">Inicio</a>
				{% if user.is_authenticated %}
					<p><i class="far fa-user"></i> {{user.username}}</p>
					<p><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></p>
					<!-- el de abajo deberia ser tipo de activos y adentro de cada tipo de activo estar listado los activos asi como lo veo ahora -->

					<!-- aca abajo va tipoact -->
					<a href="{% url 'home' %}">Activos</a>
				{% else %}
					<a href="{% url 'login' %}"><i class="fas fa-sign-out-alt"></i> Iniciar Sesión</a>
				{% endif %}
			</div>
		</div>
	</header>

	
	<section class="container">
		{%block content%}
		{%endblock content%}
	</section>
	
</body>
</html>