{% extends 'base.html' %}

{%block content%}
<h2>Tipos de Activos</h2>

<div class="izq">
	<!-- reemplzar home por nuevoact -->
	<a href="{% url 'nuevo_activo' %}" id="nuevoact" class="btn btn-success"><i class="fas fa-plus-circle"></i> Nuevo Activo</a>	
</div>

<div class="categorias">
	
	{% for activo in activos %}

	<div class="card text-center cardsep">
	  <div class="card-header">
	     {{activo.tipoactivo}}
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Special title treatment</h5>
	    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	  <div class="card-footer text-muted">
	    2 days ago
	  </div>
	</div>

	{% endfor %}

	<!-- <div class="card text-center cardsep">
	  <div class="card-header">
	    Recursos Humanos
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Special title treatment</h5>
	    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	  <div class="card-footer text-muted">
	    2 days ago
	  </div>
	</div>

	<div class="card text-center cardsep">
	  <div class="card-header">
	    Software
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Special title treatment</h5>
	    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	  <div class="card-footer text-muted">
	    2 days ago
	  </div>
	</div>

	<div class="card text-center cardsep">
	  <div class="card-header">
	    Hardware
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Special title treatment</h5>
	    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	  <div class="card-footer text-muted">
	    2 days ago
	  </div>
	</div>

	<div class="card text-center cardsep">
	  <div class="card-header">
	    Información
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Special title treatment</h5>
	    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	  <div class="card-footer text-muted">
	    2 days ago
	  </div>
	</div>

	<div class="card text-center cardsep">
	  <div class="card-header">
	    Servicios Contratados
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Special title treatment</h5>
	    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	  <div class="card-footer text-muted">
	    2 days ago
	  </div>
	</div>
</div> -->
{%endblock content%}