{% extends 'base.html' %}

{%block content%}
<section class="tab">
<h2>Activos</h2>
<div class="izq">
	<a href="{% url 'nuevoact' %}" id="nuevoact" class="btn btn-success"><i class="fas fa-plus-circle"></i> Nuevo Activo</a>	
</div>

<ul>
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">#ID</th>
		      <th scope="col">Resp. Seguridad</th>
		      <!-- Tipo activo puede ser la cabecera de la pagina -->
		      <th scope="col">Tipo activo </th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Descripción</th>
		      <th scope="col">Propietario</th>
		      <th scope="col">Ubicación</th>
		      <th scope="col">Valor</th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for tipoac in tipo_activos %}
		    <tr>
		      <th scope="row"><a href="{% url 'activo_detail' tipoac.TAid %}" class="link">{{tipoac.TAid}}</a></th>		      
		      <td>{{tipoac.rs}}</td>
		      <td>{{tipoac.tipoactivo}}</td>
		      <td><a href="{% url 'activo_detail' tipoac.TAid %}" class="link">{{tipoac.nombre}}</a></td>
		      <td id="desc"><a href="{% url 'activo_detail' tipoac.TAid %}" class="link">{{tipoac.descripcion|truncatewords:10}}</a></td>
		      <td>{{tipoac.propietario}}</td>
		      <td>{{tipoac.ubicacion}}</td>
		      <td>{{tipoac.valor}}</td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
</ul>	
</section>
{%endblock content%}